alias mongoShell="mongo --host localhost --port 27017 --username root --password nintendo --authenticationDatabase \"admin\""
alias mongoStart="docker-compose -f mongo-docker-compose.yml up -d"
alias mongoStop="docker-compose -f mongo-docker-compose.yml down"
